// Generics
%no-margin
{
    margin: $zero;
}

// text document
.page-body
{
    margin-top: 10px;
    margin-bottom: 25px;

    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
}

// Title
h1
{
    font-family: $font-header-stack;
}

h2
{
    font-family: $font-header-stack;
}

h3
{
    font-family: $font-header-stack;
}

p
{
    font-family: $font-body-stack;
}


%title_base
{
    @extend %no-margin;
}

.title
{
    @extend %title_base;

}

// Body
%body_base
{
    @extend %no-margin;
    
}

.summary
{
    @extend %body_base;

    color: $font-tertiary;

}

.registered
{
    @extend %body_base;

    
}

.body
{
    @extend %body_base;

}