// Generics
%no-margin
{
    margin: $zero;
}

// Title
.page-header
{

}

// Title
%title_base
{
    @extend %no-margin;
}

.title
{
    @extend %title_base;

}

.summary
{
    @extend %body_base;

    color: $font-tertiary;

}

.registered
{
    @extend %body_base;

    
}

.page-body
{
    margin-top      : 10px;
    margin-bottom   : 25px;

    padding-top     : 5px;
    padding-left    : 20px;
    padding-right   : 20px;
    padding-bottom  : 15px;
}

// Body
%body_base
{
    @extend %no-margin;
    
}

.body
{
    @extend %body_base;

}