.button
{
    margin-left: 15px;
    margin-right: 15px;
    width: 150px;
    transition: 1s;
}

.button_label:hover
{
    transition: 1s;
    color:$tertiary-scheme;

}

.button_label
{
    text-align: center;

    font-family: $font-title-stack;
    font-weight: bold;
    font-size: 18px;
}

.button_label_logo
{
    @extend .button_label;
}