
$expand : 100%;

$default-padding-height : 5px;
$default-padding-width  : 10px;

$view_size_min : 800px;
$view_size_max : 1024px;

$gap : 10px;

//
%site-domain
{
    margin : $zero;
}

%container
{
    @extend  %site-domain;

    padding-left  : $default-padding-width;
    padding-right : $default-padding-width;

    padding-top     : $default-padding-height;
    padding-bottom  : $default-padding-height;
}

%site-container
{
    @extend %container;

    color           : $font-primary;
    background-color: $primary-scheme;
}

body
{
    @extend %site-domain;

    background-color : $background-color;

    display : grid;

    width: $expand;

    grid-template-columns : auto;
    grid-template-rows    : auto auto auto 1fr;

    grid-template-areas : "header_area"
                          "main_area"
                          "footer_area"
                          "footer-bottom";

    grid-gap: $gap;
}

//
header
{
    @extend %site-container;

    grid-area : header_area;

}

.header-home
{
     
}

.navigation-header-field
{
    display: grid;

    
    grid-template-columns : auto;
    grid-template-rows    : auto auto auto 1fr;

    grid-template-areas : "area-element";

    grid-gap: $gap;

}

.header-navigation-element
{
    grid-area: area-element;

}

nav
{


}

//
main
{
    @extend %container;

    grid-area : main_area;

}

.view
{
    //
    min-width : $view_size_min;
    max-width : $view_size_max;

    //
    margin-left  : auto;
    margin-right : auto;
}

//
footer
{
    @extend %site-container;

    grid-area: footer_area;

}

.bottom-page
{
    grid-area : footer-bottom;
    margin    : $zero;
}
