%links-standard
{
    color: #ecf0f1;
    text-decoration: none;
}

a
{
    @extend %links-standard;
    
}

a:link
{
    @extend %links-standard;
    
}

a:hover
{
    @extend %links-standard;
    
}

a:visited
{
    @extend %links-standard;
    
}

a:active
{
    @extend %links-standard;

}