$navigation-width: 250px;

$header-height: 75px;
$length-to-header:25px;

$link-transition: .2s;
$misc-text-size: 9px;

$document-top-padding-space:15px;

$document-gap : 15px;

$page-area-gaps : 30px;
$header-area-gaps : 10px;