%links-standard
{
    color: $secondary-scheme;
    text-decoration: none;
}

%links-standard-meta
{
    color: $background-color;
    text-decoration: none;
}

/* */
a
{
    @extend %links-standard;
    
}

a:link
{
    @extend %links-standard;
    
}

a:hover
{
    @extend %links-standard;
    
}

a:visited
{
    @extend %links-standard;
    
}

a:active
{
    @extend %links-standard;
}

