ol
{
    list-style-type: none;
    
    text-align: center;
    margin: 0px;
    margin-left:auto;
    margin-right: auto;
    padding: 0px;
}

li
{
    margin: 0px;
    padding: 0px;

    text-decoration: none;
    display: inline;
}