#document_page
{
    grid-area: page_document_area;

    display: grid;
    margin-top: $document-top-padding-space;

    grid-template-columns : 1fr 1fr;

    background-color: rgba(255, 255, 255, 0.4);
    grid-gap: $document-gap;
}

//
.document_page_container
{
    grid-area: auto;

    padding-left: 50px;
    padding-right: 50px;
}

//
.document_page_container article h1
{
    font-family: $font-document-title;


}

.document_page_container article h2
{
    font-family: $font-document-title;


}

.document_page_container article h3
{
    font-family: $font-document-title;


}

.document_page_container p
{
    font-family: $font-document-title;



}