#document_page
{
    grid-area: page_document_area;

    @extend %foreground;

    display: grid;
    margin-top: 5px;
    padding-top: $document-top-padding-space;

    grid-template-columns : 1fr 1fr;

    background-color: $background-page;
    grid-gap: $document-gap;
    z-index: 0;
}

//
.document_page_container
{
    grid-area: auto;

    padding-left: 50px;
    padding-right: 50px;
}

.document-page-body-header
{
    padding-top: 200px;
}

//
.document_page_container article h1
{
    font-family: $font-document-title;

    text-transform: uppercase;

}

.document_page_container article h2
{
    font-family: $font-document-title;

    text-transform: uppercase;

}

.document_page_container article h3
{
    font-family: $font-document-title;

    text-transform: uppercase;

}

.document_page_container p
{
    font-family: $font-document-title;



}