footer
{
    @extend %foreground;
    @extend %no-margin;

    border-top: 1px solid $border-color;

    grid-area:footer-area;

}

.footer-area-content
{
    padding-left: 200px;
    padding-right: 200px;
}

.footer-container
{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

    margin-left: auto;
    margin-right: auto;
}

.footer-container-grid
{
    grid-area: auto;


}

#footer-misc-labels
{
    background-color:#292929;

    padding-bottom: 5px;
    padding-top: 5px;

}

#footer-misc-labels ol li
{
    display: inline;
}

.container-bottom
{
    grid-area: auto;

    border-top: 1px solid $border-color;
    width: 100%;

    height: 25px;
}

.footer-area-content
{
    height: 250px;
    background-color: $background-page;
}