header
{
    @extend %no-margin;

    grid-area: header-area;

    //
    display: grid;

    grid-template-columns: 1fr 0.5fr 1fr;

    grid-gap : $header-area-gaps;

    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.header-container
{
    grid-area: auto;
    padding-top: 15px;
    width: 100%;
}

.header-container ol
{
    text-align: center;
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;

    margin: 0px;
    padding-left: 25px;
    padding-right:25px;

    justify-content: space-between;

}

.header-container ol a
{
    text-decoration: none;

}

.header-container ol a li
{
    list-style-type: none;

    display: block;

    color: $charlie-color;

    border-radius: 8px;

    padding: 8px;


    border: 1px solid rgba(0, 0, 0, 0.125);
    transition: $link-transition;
}

.header-container ol a li:hover
{
    color:$background-color;
    background-color: $alpha-color;
}

#navigation-header
{

}
