
header
{
    @extend %no-margin;

    grid-area: header-area;

    //
    display: grid;

    grid-template-rows: auto auto;

    grid-gap : $document-gap;
}

.header-container
{
    grid-area: auto;
    width: 100%;
    height: 100%;

}
