.view-navigation
{
  @extend %foreground;
  grid-area: page_navigation_area;

}

.view-overlay-navigation
{
  width: 100%;
  height: 100%;
  padding-top: 25px;

  background-color: $background-page;
  border-left: 1px solid $border-color;
}

.navigation-menu
{
  width: 45px;
  height: 45px;

  margin-left: auto;
  margin-right: 25px;

  background-image: url("./made/menu/menu1.png");
  background-repeat: no-repeat;
  background-size: contain;

}

.navigation-menu:hover
{
  background-image: url("./made/menu/menu2.png");
  background-repeat: no-repeat;
  background-size: contain;

}

